*
	margin 0

.handler-visible-02
	fill blue

.handler-visible-01
	fill red

.handler-area-01
	fill green
	cursor pointer
	opacity .05

.drop-zone
	fill #fffcbe

.path
	stroke #f33731
	stroke-width 5px

.handler-area-02
	fill transparent
	stroke white
	stroke-width 20

.path2
	stroke blue
	stroke-width 10px
